body {
	background-color: #b7cce8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #333333;
}

td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;



}

a {
	color: #330000;
}

form {

}

.title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 30px;
  background-color: #990000; color: #FFFF66;
}

.subtitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
  color: #660000; font-style: oblique;
}

.header {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	background-color: #990000;
  color: #FFFF66;
}

.nav {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #CCCC66;
}

.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #DEDECA;
}
a:hover {
	color: #DEDECA;
	background-color: #330000;
}

.sidebar {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 18px;
	padding: 3px;
	background-color: #FFFF99;
}

.sidebarHeader {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 18px;
	color: #FFFF99;
	background-color: #999933;
 font-weight: bold;
}

.sidebarFooter {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #FFFF99;
 color: #990000;
}

.footer {
  font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #b7cce8;
}

.legal {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12pt;
	color: #333333;
}

.box1 {
	border-width: 2px;
	border-color: #CCCCCC #333333 #333333 #CCCCCC;
  border-style: dotted;
	}

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #FFFFFF;
	background-color: #336699;
}

.dingbat {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #CCCC99;
 color: #660000; font-weight: bolder; font-size: medium;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

.titr1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10mm;
	line-height: normal;
	font-weight: bold;

}
.tab1 {
	background-image: url(images/Voilier1.jpg);
	background-repeat: no-repeat;
}
.th1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bolder;
	background-color: #b7cce8;
	text-align: center;
	vertical-align: middle;
	text-decoration: blink;
	line-height: 2cm;



}
.TH2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	background-color: #DC9716;
	line-height: 15mm;
	text-align: center;
	vertical-align: middle;


}
.norm1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #b7cce8;
}
.norm2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #b7cce8;
}
.norm3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #FBE08A;
}
.norm4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #F7E7B7;
}
table {
	background-color: #b7cce8;
}
.tr1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #FF9966;
}
.tr2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;

}
